.container__small-card{
    width: 700px;
    margin-bottom: 15px;
}
.container__small-card-content{
    display: flex;
    flex-direction: row;
}
.small-card__photo > img {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-right: 0.5rem;
}

.small-card__title{
    margin: auto;
    text-align: center;
}

.small-card__title > h1{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.small-card__title > p{
    font-weight: 100;
    font-size: 1rem;
}

.container__small-card-separetor{
    margin-top: 10px;
}

@media(max-width: 1200px){
   
}

@media(max-width: 800px){
    
}

@media(max-width: 400px){
    .container__small-card{
        width: 400px;
        margin-bottom: 15px;
    }
    .small-card__photo > img {
        width: 180px;
        height: 140px;
        min-width: 180px;
        max-width: 180px;
        margin-right: 0.5rem;
    }
    
    
    .small-card__title > h1{
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .small-card__title > p{
        font-weight: 300;
        font-size: 0.8rem;
        color: grey;
    }
    
}