<app-menu-title
title=" MENSAGENS "
></app-menu-title>
<iframe 
        width="1340" 
        height="800" 
        src="https://www.youtube.com/embed/fzhVDuBfzsE"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen
    ></iframe>
<div class="container__mensagens">
    <div class="container-mensagens-textos">
        <h1 class="container-mensagens-textos-texto">Textos</h1>
            <app-big-card
            imgBigCard="/assets/sermao-da-montanha-300x169.jpg"
            title="Jesus é o melhor !!"
            description="Sem dúvida nenhuma, quando o assunto é liderança, seja em qualquer
            tipo de área ou em qualquer sentido da palavra, Jesus é o melhor. Ele é e sempre
            será o maior conselheiro de todos os tempos. Com sua sabedoria e amor, nos instrui
            até os dias de hoje através da sua palavra e nos dá a direção pela qual devemos
            viver nossas vidas. E olha que nem estamos entrando no mérito de que Ele sozinho
            salvou toda a humanidade."
        ></app-big-card>
        <app-big-card
            imgBigCard=""
            title=""
            description=""
        ></app-big-card>
        <app-big-card
            imgBigCard=""
            title=""
            description=""
        ></app-big-card>
    </div>
    <div class="container__mensagens-videos">
        <h1 class="container__mensagens-videos-texto">Videos</h1>
        <app-mensagem
            title ="Milton Rocha"
            tema="Solus Christus"
            description="Tema central : Somente a fé em Jesus Cristo, 
            e não obras ou intermediários, proporciona a salvação."
        ></app-mensagem>
    </div>
</div>