<app-menu-title
title="FILMES E SERIES"
></app-menu-title>
<div class="container__filmes-series">
    <app-big-card
    imgBigCard="/assets/the_chosen.jpg"
    title="The Chosen - Os Escolhidos"
    bigCardLink="https://www.primevideo.com/dp/amzn1.dv.gti.7f93aea6-f49f-4ccd-bd1e-443b3f29b97f?autoplay=0&ref_=atv_cf_strg_wb"
    description="The Chosen - Os Escolhidos é uma série religiosa que conta a história de Jesus Cristo, 
    através da visão de pessoas que o conheceram e viveram com Ele. A série é ambientada na Judeia e 
    na Galileia no século I, e é a primeira série com múltiplas temporadas sobre a vida de Jesus. 
    A série foi criada, dirigida e co-escrita por Dallas Jenkins. A trama mistura relatos bíblicos 
    com elementos ficcionais. A série acompanha a jornada de Jesus de Nazaré, desde 
    os seus primeiros passos na divulgação da palavra sagrada, até ao seu último sermão, e o momento da sua morte."
    ></app-big-card>
    <app-big-card
    imgBigCard="/assets/eu-so-posso-imaginar.jpg"
    title="Eu só posso imaginar"
    bigCardLink="https://www.netflix.com/br/title/80208955?source=35"
    description="
    O filme é baseado em fatos reais e retrata a infância e a vida adulta de Bart vocalista da banda de música cristã MercyMe, 
    desde o relacionamento conturbado com o pai até a composição da canção I Can Only Imagine: 
    Bart é testemunha e vítima do relacionamento abusivo do pai com a mãe. 
    Quando a mãe abandona o lar, Bart fica com o pai e se torna revoltado. 
    Bart é criado com fé e respeito ao Senhor, mas quando fica só com o pai, pensa em ir embora para cantar.  
    Bart volta à sua cidade, encontra o pai e descarrega as suas mágoas. 
    Bart eterniza a sua relação com o pai na canção I Can Only Imagine, 
    que se tornou um dos maiores hits do gênero gospel nos Estados Unidos."
    ></app-big-card>
    <app-big-card
    imgBigCard="/assets/superação.jpg"
    title="SUPERAÇÃO-o milagre da fé"
    bigCardLink="https://www.disneyplus.com/pt-br/movies/breakthrough/1qGXOnT8knJa"
    description="SUPERAÇÃO-o milagre da fé é um filme cativante que pode inspirar e emocionar.
    O filme é baseado na história real de um homem que experimenta um milagre 
    inesperado após uma crise de fé. Se você está procurando por um filme que 
    explore temas profundos e emotivos, SUPERAÇÃO-o milagre da fé pode ser uma excelente escolha. 
    Você pode assistir ao filme em plataformas de streaming como Netflix, Amazon Prime 
    ou em cinemas locais. Acompanhe a descrição do filme e as opiniões dos espectadores 
    para ter uma ideia melhor sobre o que esperar."
    ></app-big-card>
</div>
