<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src=""
        alt=""
        height="200px"
        width="400px"
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">JESUS IS THE BEST !!</a></h1>
    </div>
    <div class="big-card__description">
        <p>Sem duvida nenhuma, quando o assunto é liderança, seja em quanquer tipo
            de area, ou qualquer sendido da palavra, Jesus é o melhor.Ele é e sempre sera o maior conselheiro
            de todos os tempos, com sua sabedoria e amor nos instrui até os dias de hoje atraves da sua palavra,
            e nos a direção pela qual devemos viver nossas vidas, e olha que nem estamos entrando no merito de que Ele
            sozinho salvou tot a humanidade.
        </p>
    </div>
</div>
