.container__menu-title{
    justify-content: center;
    align-items: center;
    background-image: url(/assets/terra.jpg);
    background-size: 85rem;
}

.container__menu-title > h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 50rem;
    font-weight: 100;
    font-size: 5rem;
    text-align: center;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
    background-color: #ffffff00;
    
}

.container__menu-title > hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}