

<app-menu-title
title="JESUS IS LORD"
></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
       <app-big-card
       imgBigCard="/assets/sermao-da-montanha-300x169.jpg"
       bigCardLink="/mensagens"
       title="Jesus é o melhor !!"
       description="Sem dúvida nenhuma, quando o assunto é liderança, seja em qualquer
        tipo de área ou em qualquer sentido da palavra, Jesus é o melhor. Ele é e sempre
        será o maior conselheiro de todos os tempos. Com sua sabedoria e amor, nos instrui
        até os dias de hoje através da sua palavra e nos dá a direção pela qual devemos
        viver nossas vidas. E olha que nem estamos entrando no mérito de que Ele sozinho
        salvou toda a humanidade."
       ></app-big-card>
    </div>
    <div class="articles__others">
      <app-smal-card
      imgSmalCard="/assets/the_chosen.jpg"
      linkSmalCard="https://www.primevideo.com/dp/amzn1.dv.gti.7f93aea6-f49f-4ccd-bd1e-443b3f29b97f?autoplay=0&ref_=atv_cf_strg_wb"
      titleSmalCard="The Chosen - Os Escolhidos"
      description="É uma série religiosa que conta a história 
      Jesus Cristo e de quem o conheceu, seguiu ou interagiu com Ele."
      ></app-smal-card>
      <app-smal-card
      imgSmalCard="/assets/eu-so-posso-imaginar.jpg"
      linkSmalCard="https://www.netflix.com/br/title/80208955?source=35"
      titleSmalCard="Eu só posso imaginar"
      description="Este filme conta a história de Bart Millard, 
      vocalista da banda de rock cristão MercyMe, e como ele transformou sua dor em 
      uma das canções mais vendidas e executadas dos Estados Unidos."
      ></app-smal-card>
    </div>
</div>
