*{
    flex-wrap: wrap;
    align-items: center;
}
.container__articles{
    margin-top: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content:center ;

} 

header{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

@media(max-width: 1200px){
    .container__articles{ 
        width: 1200px;
        gap: 3rem;
        margin: auto;
    }
}

@media(max-width: 800px){
    .container__articles{
        width: 800px;
        gap: 1rem;
    }
}

@media(max-width: 400px){
    .container__articles{
        width: 400px;
    }
}