<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
       <app-big-card
       imgBigCard="/assets/sermao-da-montanha-300x169.jpg"
       title="Jesus é o melhor !!"
       description="Sem duvida nenhuma, quando o assunto é liderança, seja em quanquer tipo
       de area, ou qualquer sendido da palavra, Jesus é o melhor.Ele é e sempre sera o maior conselheiro
       de todos os tempos, com sua sabedoria e amor nos instrui até os dias de hoje atraves da sua palavra,
       e nos a direção pela qual devemos viver nossas vidas, e olha que nem estamos entrando no merito de que Ele
       sozinho salvou tot a humanidade."
       ></app-big-card>
    </div>
    <div class="articles__others">
      <app-smal-card></app-smal-card>
      <app-smal-card></app-smal-card>
    </div>
</div>
